<% provide(:title, 'All Users') %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-transparent">
    	<div class="panel-body">
    		<h1>All Users:</h1>
				  <% @users.each do |user| %>
				    <ul>
			      	<%= link_to user.name, user %>
			      	<%= user.email %>
				    </ul>
				  <% end %>
			</div>
		</div>
	</div>
</div>
