<% if current_user.admin_or_instr? %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-md-8 col-md-offset-2">
      <div class="panel panel-transparent">
        <div class="panel-body">
          <h1><b>Editing: </b><%= @department.title %></h1>
            <hr><br>
              <%= render "departments/form" %>
        </div>
      </div>
      <div class="panel panel-transparent">
        <div class="panel-body">
          <h3>Delete the <%= @department.title %> department:</h3>
      		<span class="pull-left"><%= button_to('Delete Department', { action: "destroy", id: @department.id },
          method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' }, class: "btn btn-large btn-danger") %></span>
        </div>
      </div>
		</div>
	</div>
</div>


<% else %>
<center><h1>You do not have permission to access this page</h1>
<% end %>



