<% provide(:title, 'About Us') %>
	<div class="row">
 		<div class="col-xs-12 col-md-8 col-md-offset-2">
 			<div class="panel panel-default">
      	<div class="panel-body">
					<h1>About Us</h1>
					<p>
						CUresource is a free resource map for students to easily and convieniently find course and department info, contacts, and helpful content. 
						You can save your current classes and department as well as your favorite posts with helpful material.
					</p>
				</div>
			</div>
		</div>
	</div>