<% provide(:title, 'Contact') %>
	<div class="row">
 		<div class="col-xs-12 col-md-8 col-md-offset-2">
 			<div class="panel panel-default">
      	<div class="panel-body">
					<h1>Contact</h1>
					<center><p>Click <a href="mailto:curesource@gmail.com">here</a> to send us an email!</p></center>
				</div>
			</div>
		</div>
	</div>

<%# render "contact_form/new" %>