<% provide(:title, 'Help') %>
<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
		<h1>Help</h1>
		<p><center>
		  This section is under construction ... 
		  If you have questions for us, then visit our <%= link_to "Contact", contact_path %> page.
		</center></p>
	</div>
</div>