<div class="center jumbotron">
  <h1><b>Welcome to CUresource</b></h1>

  <h2>
	CUresource is a student-run web app that is designed to organize helpful resources so that they are easy to discover, save, and access again quickly. It will always be %100 free and ad-free!
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
</div>