<% provide(:title, 'Help') %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-transparent">
    	<div class="panel-body">

				<center><h1>Helpful Links:</h1></center><br>
				<center><h3>Under Construction...</h3></center>

				<h2><a target="_blank" href="http://www.colorado.edu/">Official CU Boulder Website</a></h2>


				<div class="row">
					<div class="col-md-4">
						<center><h3>Offices</h3></center>
							<h2><a target="_blank" href="http://www.colorado.edu/">Official CU Boulder Website</a></h2>
					</div>
					<div class="col-md-4">
						<center><h3>Campus</h3></center>
							<h2><a target="_blank" href="http://www.colorado.edu/">Official CU Boulder Website</a></h2>
					</div>
					<div class="col-md-4">
						<center><h3>Services</h3></center>
							<h2><a target="_blank" href="http://www.colorado.edu/">Official CU Boulder Website</a></h2>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>



