<% provide(:title, '#{@course.title}') %>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <center><h1><b><%= @course.title %></b><br>
      <small><%= @course.description %></small><br>
    </h1></center>
    <hr>

  </div>
</div>
