<div id="posts">
<% for post in @posts %>
  <div class="post">
    <%=simple_format post.content %>
  </div>
<% end %>
</div>


<h2>New Post</h2>

<% form_for [@postable, Post.new] do |f| %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>