.container hr {
  margin-bottom: 0; 
  border-top: 1px solid #999;
}

#editlink {
	position:absolute;
}

#favoritelink {
	position:absolute;
}

.smalltext {
  font-size: 0.8em;
  line-height: 0;
  color: #999;
}